@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* @layer utilities {
  .wrapper {
    @apply flex flex-col items-center justify-center min-h-screen max-[1200px] px-6 py-4 sm:px-6 lg:px-8;
  }
} */


