@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  @apply max-w-[1280px] mx-auto px-5
}
.hero-heading{
  @apply lg:text-[64px] md:text-[40px] text-[30px] font-bold md:leading-[1.2em]
}

.section-heading{
  @apply text-[44px] text-[#101010] font-bold md:leading-[1.3em]
}


.section-title{
  @apply md:text-2xl text-lg text-[#212529] font-semibold
}

.sub-heading{
  @apply text-2xl font-semibold
}

.paragraph-text{
@apply text-tertiary font-normal  leading-[1.7em]
}